body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container{
    width: 90%;
    margin: auto;
}

/* =============Top Header================ */

.top-container{
    width: 100%;
    height: 46px;
    background: #004E98;
}
.top{
    display: flex;
    justify-content:space-between;
}

.top a{
    color: white;
    text-decoration: none;
    padding: 15px;
    line-height: 46px;
}


.top .top-right a{
    background:#f29200;
    padding: 10px;
    border-radius: 5px;
}

/* =============End top header=========== */


/* ==============Main Header============= */

.main-header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    margin: 10px 0px 10px 0px;
}

.logo-section{
    width: 30%;   
    height: 80px;
    display: flex;
    justify-content: space-between;

}
.logo{
    width: 20%;
    
}

.logo-name{
    width: 75%;  
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.logo-name h1{
    font-size: 18px;
    margin: 0;
    padding: 0;
    color: #004E98;
    font-weight: bolder;
}
.logo-name span{
    font-weight: 300;
    margin: 0;
    padding: 0;
    font-size: 15px;
}

.logo-section img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.menu-section{
    width: 60%;
    height: 40px;
}

.menu-section ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu-section a{
    color: rgb(0, 0, 0);
    text-decoration: none;

}
.menu-section ul li{
    min-width: 100px;
    text-align: center;
    padding-right: 15px;
    position: relative;
    line-height: 40px;
}
.menu-section ul li ul{
    display: flex;
    flex-direction: column;
    position: absolute;
    background: white;
    display: none;
    position: absolute;
    z-index: 1000;
    box-shadow: rgba(0, 0, 0,0.35)0px 6px 8px;
}
.menu-section ul li ul li{
    min-width: 200px;
    text-align: left;
    padding-left: 10px;
}
.menu-section ul li:hover ul{
    display: block;
}
.search{
    width: 600px;
    height: 34px;
    background: rgba(128, 128, 128, 0.241);
    border: 2px solid rgba(128, 128, 128, 0.437);
    text-indent: 10px;
    border-radius: 5px;
    justify-content: center;
}
/*=========End Header============*/



/*========Banner section========*/
.banner-content{
    width: 100%;
    height: 460px;
    display: flex;
    justify-content: space-between;
}
.banner-section{
    width: 33%;
    height: 460px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: sans-serif;
}

.banner-header{
    width: 100%;
    height: 90%;
    background: #004E98;
    position: relative;
    font-family: sans-serif;
}

.banner-footer{
    width: 100%;
    height: 9%;
    background: #004E98;
}
.banner-section img{
    width: 100%;
    height:100%;
}
.banner-text-content{
    width: 90%;
    height: 100px;
    position: absolute;
    bottom: 10px;
    padding: 25px;
}
.banner-text-content{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-family: sans-serif;
}
.banner-text-content button{
    background:#f29200;
    border-radius: 4px;
    width: 100px;
    height: 40px;
    color: white;
    box-shadow: none;
    border:none;
    box-shadow: rgba(0, 0, 0,0.50)0px 4px 8px;
}
.btn_center{
    background: #f29200;
}
.banner-footer p{
    color: white;
    text-align: center;
}
/*===========End banner section========*/
/*===========start first course section========*/
.upcoming-classes h1{
    font-size: 23px;
    font-family:sans-serif ;
    margin-top: 60px;
    margin-left: 140px;
}
.course-box{
    width: 80%;
    height:430px;
    margin: 0px 120px 0px 100px;
    display: flex;
    flex-wrap: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    padding: 0;
    
}
.course-box2{
    width: 80%;
    height:600px;
    /*background: red;*/
    margin: 0px 0px 0px 100px;
    padding: 0;
    display: flex;
    flex-wrap: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
}
.content-box{
    width: 320px;
    height: 400px;
    background: white;
    box-shadow: rgba(0, 0, 0,0.18)0px 4px 8px;
    border-radius: 5px;
    position: relative;
    font-family: sans-serif;
    border-radius: 5px;
    margin-right: 15px;
}
.img-section{
    border-radius: 5px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.img-section img{
     width: 320px;
}
.course{
    margin: 30px 0px 0px 25px;
}
.trainer{
    color: grey;
    font-size: 15px;
    margin: 30px 0px 0px 35px;
    padding: 0;
}
.Shankar{
    margin-left: 34px;
    margin-top:3px;
    padding: 0;
}
.date-box{
    width: 320px;
    height: 20px;
    margin-top: 10px;
    font-size: 15px;
}
.date{
    color: grey;
    margin-left: 40px;
    margin-top:60px;
    padding: 0;
}
.info{
    margin-left:18px;
    padding:0px;
}
.info1{
    margin-right:24px;
}
.info2{
    margin-right:38px;
}
.btnregister{
    background: #004E98;
    width: 275px;
    height: 40px;
    margin-left: 20px;
    margin-right: 20px;
    border: none;
    border-radius: 4px;
    margin-top: 20px;
}
.info3{
    width: 40px;
    background-color: 30px 30px aqua;
    border-radius: 10px;
}
/*===========End start first course section========*/










/*==========mobile-port=========*/
@media (max-width:650px) {
    body{
        margin: 0;
        padding: 0;
        font-family: sans-serif;
    }
    
    .container{
        width: 90%;
        margin: auto;
    }
    
    /* =============Top Header================ */
    
    .top-container{
        width: 100%;
        height: 30px;
        background: #004E98;
    }
    .top{
        display: flex;
        justify-content:space-between;
    }
    
    .top a{
        color: white;
        text-decoration: none;
        padding: 4px;
        line-height: 32px;
        font-size: 6px;
    }
    
    
    .top .top-right a{
        background:#f29200;
        padding: 5px;
        border-radius: 3px;
        font-size: 6px;
    }
    
    /* =============End top header=========== */
    
    
    /* ==============Main Header============= */
    
    .main-header{
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: space-between;
        margin: 10px 0px 10px 0px;
    }
    
    .logo-section{
        width: 30%;   
        height: 40px;
        display: flex;
        justify-content: space-between;
    
    }
    .logo{
        width: 32%;
        height: 35px;
        
    }
    
    .logo-name{
        width: 75%;  
        display: flex;
        flex-direction: column;
        justify-content: center;
    
    }
    
    .logo-name h1{
        font-size: 10px;
        margin-left: 3%;
        padding: 0;
        color: #004E98;
        font-weight: bolder;
    }
    .logo-name span{
        font-weight: 300;
        margin: 0;
        padding: 0;
        font-size: 3px;
        margin-left: 3%;
    }
    
    .logo-section img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
    
    .menu-section{
        width: 65%;
        height: 40px;
        padding: 0;
        margin: 0;
    }
    
    .menu-section ul{
       display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        padding: 0;
        margin: 0;
    }
    .menu-section a{
        color: rgb(0, 0, 0);
        text-decoration: none;
        font-size: 8px;
        padding: 0;
        margin: 0;
    }
    .menu-section ul li {
        min-width: 60px;
        text-align: center;
        padding-right: 1px;
        position: relative;
        line-height: 30px;
    }
  
    .menu-section ul li ul{
        display: flex;
        flex-direction: column;
        position: absolute;
        background: white;
        display: none;
        position: absolute;
        z-index: 1000;
        box-shadow: rgba(0, 0, 0,0.35)0px 6px 8px;
        margin: 0;
        padding: 0;
    }
   .menu-section ul li ul li{
        width: 10px;
        text-align: left;
        margin: 0;
        padding: 0;
    }
    .menu-section ul li:hover ul{
        display: block;
        padding: 0;
        margin: 0;
    }
    .search{
        width: 180px;
        height: 14px;
        background: rgba(128, 128, 128, 0.241);
        border: 2px solid rgba(128, 128, 128, 0.437);
        text-indent: 10px;
        border-radius: 2px;
        justify-content: center;
    }
    /*=========End Header============*/
    
    
    
    /*========Banner section========*/
    .banner-content{
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-top: 0;
    }
    .banner-section{
        width: 100%;
        height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-family: sans-serif;
        margin-top: 5px;
    }
    
    .banner-header{
        width: 100%;
        height:91%;
        background: #004E98;
        position: relative;
        font-family: sans-serif;
    }
    
    .banner-footer{
        width: 100%;
        height: 9%;
        background: #004E98;
    }
    .banner-section img{
        width: 100%;
        height:100%;
    }
    .banner-text-content{
        width: 90%;
        height: 100px;
        position: absolute;
        bottom: 10px;
        padding: 25px;
    }
    .banner-text-content{
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-size: 14px;
        font-family: sans-serif;
    }
    .banner-text-content button{
        background:#f29200;
        border-radius: 4px;
        width: 100px;
        height: 40px;
        color: white;
        box-shadow: none;
        border:none;
        box-shadow: rgba(0, 0, 0,0.50)0px 4px 8px;
    }
    .btn_center{
        background: #f29200;
    }
    .banner-footer p{
        color: white;
        text-align: center;
        line-height: 4px;
    }
    /*===========End banner section========*/
    /*===========start first course section========*/
    .upcoming-classes h1{
        font-size: 23px;
        font-family:sans-serif ;
        margin-top: 920px;
        margin-left: 40px;
    }
    .course-box{
        width: 300px;
        height: 250px;
        margin: 0px 40px 40px 45px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0;
        
    }
    .course-box2{
        width: 150px;
        height:600px;
        /*background: red;*/
        margin: 0px 0px 0px 100px;
        padding: 0;
        display: flex;
        flex-wrap: 1fr 1fr ;
        justify-content: space-between;
        display: none;
    }
    .content-box{
        width: 300px;
        height: 400px;
        background: white;
        box-shadow: rgba(0, 0, 0,0.18)0px 4px 8px;
        border-radius: 5px;
        position: relative;
        font-family: sans-serif;
        border-radius: 5px;
        margin-right: 15px;
        margin-bottom: 40px;
    }
    .img-section{
        border-radius: 5px;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .img-section img{
         width: 300px;
    }
    .course{
        margin: 30px 0px 0px 25px;
    }
    .trainer{
        color: grey;
        font-size: 15px;
        margin: 30px 0px 0px 35px;
        padding: 0;
    }
    .Shankar{
        margin-left: 34px;
        margin-top:3px;
        padding: 0;
    }
    .date-box{
        width: 320px;
        height: 20px;
        margin-top: 10px;
        font-size: 15px;
    }
    .date{
        color: grey;
        margin-left: 40px;
        margin-top:60px;
        padding: 0;
    }
    .info{
        margin-left:18px;
        padding:0px;
    }
    .info1{
        margin-right:24px;
    }
    .info2{
        margin-right:38px;
    }
    .btnregister{
        background: #004E98;
        width: 250px;
        height: 35px;
        margin-left: 20px;
        margin-right: 20px;
        border: none;
        border-radius: 4px;
        margin-top: 20px;
        margin-bottom: 8px;
    }
    .info3{
        width: 40px;
        background-color: 30px 30px aqua;
        border-radius: 10px;
    }


}
